<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User login</title>
    <style> .error{color: red;}</style>
</head>
<body>
    <h3>login</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {% endif %}

       {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Login">
    </form>

    <a href="{% url 'register' %}">Register</a>
</body>
</html>