<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>

    <div class="container mt-5">
        <h4></h4>
            <h2 class="text-center alert alert-info">Update Task</h2>
            <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="update">

                <a href="{% url 'show' %}" class="btn btn-info">Back to Home</a>

        </form>

    </div>
</body>
</html>