<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>showdata</title>
</head>
<body>
<div class="container mt-5">
        <h2 class="text-center alert alert-danger">Task Information</h2>
    <a href="{% url 'home' %}" class="btn btn-info">Add Task</a>
    {% if data %}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Task List</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for d in data %}
    <tr>
      <th scope="row">{{d.id}}</th>
      <td>{{d.task}}</td>
      <td>{{d.status}}</td>
      <td>
          <a href="{% url 'update' d.id %}" class="btn btn-warning btn-sm">Update</a>
          <a href="{% url 'delete' d.id %}" class="btn btn-danger btn-sm">Delete</a>

      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% else%}
    <h4>No Record</h4>
    {% endif %}

    </div>
</body>
</html>