<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>showdata</title>
</head>
<body>

<div class="container mt-5">
{% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
        {% endfor %}
    {% endif %}
    <h2 class="text-center alert alert-danger">Task Information</h2>
    <a class="btn btn-dark float-right" href="{% url 'logout' %}">Logout</a>

    {% if perms.testapp.add_task %}
    <a href="{% url 'home' %}" class="btn btn-info">Add Task</a>
    {% else %}
    <a href="" class="btn btn-info">No Add Permission</a>
    {% endif %}

    <h6>Total Number of task: {{count}}</h6>

    {% if data %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Task List</th>
            <th scope="col">Status</th>
            {% if perms.testapp.change_task or perms.testapp.delete_task %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for d in data.object_list %}
        <tr>
            <th scope="row">{{ data.start_index|add:forloop.counter0 }}</th>
            <td>{{d.task}}</td>
            <td>{{d.status}}</td>

            <td>
                {% if perms.testapp.change_task %}
                <a href="{% url 'update' d.id %}" class="btn btn-warning btn-sm">Update</a>
                {% endif %}
                {% if perms.testapp.delete_task %}
                <a href="{% url 'delete' d.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else%}
    <h4>No Record</h4>
    {% endif %}
    <div class="page-links">
        <h6>Page Number: {{data.number}}</h6>
        {% if data.has_previous %}
            <a href="{% url 'show' %}?page={{data.previous_page_number}}">Previous Page</a>
        {% endif %}
        {% if data.has_next %}
            <a href="{% url 'show' %}?page={{data.next_page_number}}">Next Page</a>
        {% endif %}


    </div>

</div>
</body>
</html>