<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
    <h1>This is About Page...!</h1>
    <h2>Representation of integer value: {{ v1 }}</h2>
    <h2>Represention of list: {{ v2 }}</h2>

</body>
</html>
